#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_GOPKG := github.com/subgraph/macouflage
export DESTDIR := $(CURDIR)/debian/macouflage

%:
	dh $@ --buildsystem=golang --with=golang --with=systemd

override_dh_auto_install:
	dh_auto_install
	rm -rf $(CURDIR)/debian/macouflage/usr/share/gocode
	find $(CURDIR)/debian/macouflage/ -type d -empty -delete

override_dh_installudev:
	dh_installudev --priority=20

override_dh_auto_test:
	@echo skipped auto test
